<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Application - Eircode</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/webapp.css}" />
</head>

<body ng-app="webappAppEircode">

	<div class="container-fluid" ng-controller="eirController">
	
		<div class="webapp-menu">
			<a class="webapp-menu-item" href="/webapp/home/">Home</a>
		</div>
		<hr/>
		
		<p>Eircode Search</p>
		
		<form class="simple-form">
			<label>Eircode:</label> <input type="text" ng-model="eircode" />
			
			<br/>
			
			<input type="button" ng-click="reset()" value="Reset" />
			<input	type="submit" ng-click="searchEirCode(eircode)" value="Search" />
		</form>
		
		<hr />
		
		<div ng-show="eirResponse.errorMessage" style="background-color: red;">
			Error: {{ eirResponse.errorMessage }}
		</div>
		<div ng-show="eirResponse.alertMessage" style="background-color: yellow;">
			Alert: {{ eirResponse.alertMessage }}
		</div>
		<div ng-show="eirResponse.addressList[0].postcode" style="background-color: cyan">
			Note: These results are based around the NR14 7PZ postcode when using the example API key (PCW45-12345-12345-1234X).
			<br/>
			API documentation: https://developers.alliescomputing.com/
		</div>
		
		<table ng-show="eirResponse.addressList[0].postcode" class="table-striped">
			<thead>
				<tr>
					<th>address line 1</th>
					<th>address line 2</th>
					<th>summary line</th>
					<th>organisation</th>
					<th>street</th>
					<th>posttown</th>
					<th>county</th>
					<th>postcode</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in eirResponse.addressList">
					<td>{{ row.addressline1 }}</td>
					<td>{{ row.addressline2 }}</td>
					<td>{{ row.summaryline }}</td>
					<td>{{ row.organisation }}</td>
					<td>{{ row.street }}</td>
					<td>{{ row.posttown }}</td>
					<td>{{ row.county }}</td>
					<td>{{ row.postcode }}</td>
				</tr>
			</tbody>
		</table>
		
	</div>

	<script>
		angular.module("webappAppEircode", []).controller( "eirController", function($scope, $http) {
			
			$scope.searchEirCode = function(eircode) {
				$scope.eirResponse = '';
				
				var parameters = {ec:eircode};
				
				$url = "/webapp/eircodes/find";
				$http.get($url, {params:parameters}).then(
					function(response) {
						$scope.eirResponse = response.data;
					}
				);
		    }
			
			$scope.reset = function() {
					$scope.eircode = '';
					$scope.eirResponse = '';
				};
			});
	</script>

</body>
</html>