<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Application - Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/webapp.css}" />
</head>

<body>
	<div class="container-fluid">

		<div class="webapp-menu">
			<a class="webapp-menu-item" href="/webapp/eircodes/">EirCode Test</a> | 
			<a class="webapp-menu-item" href="/webapp/persons/">Person Test</a>
		</div>
		<hr/>
	
	</div>
</body>
</html>